parameters:
    level: 5
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#is never assigned int so it can be removed from the property type#'
        - '#is never assigned null so it can be removed from the property type#'
        - '#If condition is always true#'
        - '#is never read, only written#'
        - '#Variable .* on left side of \?\? always exists#'
        - message: '#NotificationRepository::findChannelNotificationsForUser#'
          path: src/Controller/Community/ChannelController.php
        - message: '#getTrainingSessions#'
          path: src/Controller/PlanningController.php
        - message: '#TrainingSession::setUser#'
          path: src/Controller/PlanningController.php
        - message: '#NotificationRepository::findChannelNotificationsForUser#'
          path: src/Twig/Extension/NotificationExtension.php